In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kichmengskiy Gorodok,RU,2021-06-02 18:42:58,59.9816,45.7854,47.19,63,98,5.23
1,1,Norman Wells,CA,2021-06-02 18:40:41,65.2820,-126.8329,46.44,71,75,9.22
2,2,Lavrentiya,RU,2021-06-02 18:42:59,65.5833,-171.0000,30.74,68,36,15.93
3,3,Ancud,CL,2021-06-02 18:39:59,-41.8697,-73.8203,48.00,100,90,13.80
4,4,Beidao,CN,2021-06-02 18:42:59,34.5686,105.8933,57.49,80,100,1.54

In [3]:
# double check the data types of the dataframe you loaded from previous work:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
# bypassed the above to add ZOOM, Intensity and POINT RADIUS
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# we bypassed the above line of code and inserted the above cells code where variable 'temps' is defined.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# then we replaced the above code AGAIN to avoid using the FOR LOOP and use LIST COMPREHENSION instead:
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# added to the above code for dissipation, measurement intensity and measurement radius larger:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# needed to run this and below line of code to get the above fig to work.
# !jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [11]:
# needed to run this and below line of code to get the above fig to work.
# !jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [15]:
# I ran this on its own by mistake (it should have been imbedded in above code) and had the following results...
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [16]:
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create a Percent Humitidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Create a Percent Cloudiness Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=clouds)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Bambous Virieux,MU,2021-06-02 18:43:00,-20.3428,57.7575,76.21,69,40,17.92
7,7,Georgetown,MY,2021-06-02 18:39:01,5.4112,100.3354,82.89,87,20,3.00
9,9,Torrington,US,2021-06-02 18:43:01,41.8007,-73.1212,80.85,54,100,1.01
12,12,Imbituba,BR,2021-06-02 18:43:02,-28.2400,-48.6703,77.00,57,0,10.36
16,16,Mount Pleasant,US,2021-06-02 18:40:16,32.7941,-79.8626,84.00,78,75,8.05
20,20,Luanda,AO,2021-06-02 18:43:03,-8.8368,13.2343,77.00,83,0,6.91
24,24,Albacete,ES,2021-06-02 18:43:05,38.8333,-2.0000,80.19,38,0,15.46
26,26,Wanning,CN,2021-06-02 18:43:06,18.8003,110.3967,81.86,93,100,8.75
29,29,Lompoc,US,2021-06-02 18:43:07,34.6391,-120.4579,86.68,77,40,3.00
30,30,Victoria,HK,2021-06-02 18:38:47,22.2855,114.1577,85.32,90,100,4.00

In [28]:
# to see if a peferred_cities has any null values
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [29]:
# 6.5.4 Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5   Bambous Virieux      MU     76.21 -20.3428   57.7575
7        Georgetown      MY     82.89   5.4112  100.3354
9        Torrington      US     80.85  41.8007  -73.1212
12         Imbituba      BR     77.00 -28.2400  -48.6703
16   Mount Pleasant      US     84.00  32.7941  -79.8626
20           Luanda      AO     77.00  -8.8368   13.2343
24         Albacete      ES     80.19  38.8333   -2.0000
26          Wanning      CN     81.86  18.8003  110.3967
29           Lompoc      US     86.68  34.6391 -120.4579
30         Victoria      HK     85.32  22.2855  114.1577

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
# In this code, we modified how we add the coordinates to the location key. We add the 
# latitude and longitude to the location using the f-string format. The rest of the code 
# is the same as when we practiced, but at the end, we add the name of the first hotel to 
# the Hotel Name column in the hotel_df DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name. (Added TRY EXCEPT code to above code)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
7,Georgetown,MY,82.89,5.4112,100.3354,Cititel Penang
9,Torrington,US,80.85,41.8007,-73.1212,The Yankee Pedlar Inn
12,Imbituba,BR,77.00,-28.2400,-48.6703,Praia Hotel Imbituba
16,Mount Pleasant,US,84.00,32.7941,-79.8626,Best Western Patriots Point
20,Luanda,AO,77.00,-8.8368,13.2343,LANDU MARINEZA LUFUANDU TONI
24,Albacete,ES,80.19,38.8333,-2.0000,
26,Wanning,CN,81.86,18.8003,110.3967,Paradise Hotel
29,Lompoc,US,86.68,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
30,Victoria,HK,85.32,22.2855,114.1577,Mini Hotel Central

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Same code as above but with MARKERS
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))